[Unit]
Description=NinjaBlocks Sphere Client Service
After=network.target 

[Service]
ExecStart=/bin/bash -c '. /etc/profile.d/ninja.sh && cd /opt/ninjablocks/sphere-client && ./sphere-client $$(sphere-client-args)'
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
