[Unit]
Description=NinjaBlocks Sphere Client Service
After=network.target 

[Service]
ExecStart=/bin/bash -c '. /etc/profile.d/ninja.sh && cd /opt/ninjablocks/sphere-director && ./sphere-director --mqtt.trace false --credentialFile /data/etc/opt/ninja/credentials.json --boardType "$${NINJA_BOARD_TYPE}"'
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
